@keyframes sparkle {
  0% {
    color: #ffe900;
    text-shadow: 0 0 5px #ffe900, 0 0 10px #ffe900, 0 0 15px #ffe900;
  }
  50% {
    color: #ffd700;
    text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #ffd700;
  }
  100% {
    color: #ffe900;
    text-shadow: 0 0 5px #ffe900, 0 0 10px #ffe900, 0 0 15px #ffe900;
  }
}

.active-sparkle {
  animation: sparkle 1.5s infinite;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
html {
  scroll-behavior: smooth;
}

